*{
    padding:0;
    margin: 0;
}
li{
    list-style: none;
}

.box{
    height: 600px;
    width: 600px;
    background-color: pink;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    /* margin-top: 100px; */
    position: relative;
}

.btn1{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    margin-top: -15px;
    top: 50%;
}
.btn2{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(9, 255, 0);
    margin-top: -15px;
    top: 50%;
    right: 0;
}

.kuang{
    position: absolute;
    height: 13px;
    width: 70px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 10px;
    left: 50%;
    margin-left: -35px;
    bottom: 15px;
}
.point li{
    float: left;
    height: 8px;
    width: 8px;
    background-color:rgba(0, 0, 0, .3);
    margin: 3px;
    border-radius: 50%;
}

.point li:last-child{
    background-color: red;
}
